server {
    listen 80;
    root {{ nginx_default_root_site }};
    index index.php index.html index.htm index.nginx-debian.html;
    server_name {{ nginx_server_name }};

    location = /favicon.ico { log_not_found off; access_log off; }
    location = /robots.txt { log_not_found off; access_log off; allow all; }
    location ~* \.(css|gif|ico|jpeg|jpg|js|png)$ {
        expires max;
        log_not_found off;
    }
    location / {
    try_files $uri $uri/ /index.php$is_args$args;
    }
    location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/var/run/php/php-fpm.sock;
    }
}  